.button {
  min-height: 40px;
  padding: 10px;
  background: var(--color-primary-bg);
  border: var(--border-style);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-s);
  color: var(--color-muted);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-medium);
  transition: all var(--transition);
}

.button:hover {
  background: var(--color-primary-bg--hover);
  color: var(--color-muted--hover);
  border: var(--border-style--hover);
  cursor: pointer;
}

.button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.button:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px var(--color-accent);
}

.button:disabled {
  background: var(--color-muted-bg);
  color: var(--color-muted);
  border: var(--border-style);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
