/* Common style */
.button {
  min-height: 40px;
  padding: 10px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-medium);
  color: var(--color-muted);
  transition: all var(--transition);
}

.button:hover {
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px var(--color-accent);
}

/* Default variant */
.default {
  background: var(--color-primary-bg);
  border: var(--border-style);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  color: var(--color-muted);
}

.default:hover {
  background: var(--color-primary-bg--hover);
  color: var(--color-muted--hover);
  border: var(--border-style--hover);
  cursor: pointer;
}

.default:active {
  transform: translateY(1px);
  box-shadow: none;
}

.default:disabled {
  background: var(--color-muted-bg);
  color: var(--color-muted);
  border: var(--border-style);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* Text variant */
.text {
  background: transparent;
  border: none;
  border-radius: var(--border-radius-m);
}

.text:hover {
  background: var(--color-primary-bg--hover);
  color: var(--color-muted--hover);
  cursor: pointer;
}

.text:active {
  background: var(--color-primary-bg--hover);
  color: var(--color-accent);
  cursor: pointer;
}
